/* 


Global Styles


*/

:root {
  --peach: #e7816b;
  --black: #1d1c1e;
  --white: #fff;
  --light-peach: #ffad9b;
  --dark-grey: #333136;
  --light-grey: #f1f3f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.7;
  font-family: "Jost", sans-serif;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 36px;
  right: 1.5rem;
  z-index: 2;
  display: none;
}

.menu-btn:hover {
  opacity: 0.9;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.bold-text {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

p {
  font-size: 16px;
}

/* 




header




*/

header {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo img {
  width: 200px;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
header ul li a {
  padding: 0 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--dark-grey);
}

/* 




Hero




*/

#hero {
  margin-top: 5rem;
  background-image: url(./img/bg-pattern-hero-home.svg),
    url(./img/image-hero-phone.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 45vw 0vh, 50vw -7vh;
  background-color: var(--peach);
  border-radius: 10px;
  height: 75vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#hero .hero-text-content {
  padding-top: 7rem;
  padding-left: 5rem;
}

#hero .hero-text-content h1 {
  font-size: 48px;
  color: var(--white);
  line-height: 1.1;
  width: 55%;
  font-weight: 500;
}

#hero .hero-text-content p {
  color: var(--white);
  width: 42%;
  padding-top: 2rem;
}

#hero .hero-btn-container {
  padding-top: 2rem;
  padding-left: 5rem;
}

#hero .hero-btn-container .btn {
  font-weight: 500;
  color: var(--dark-grey);
  background: var(--white);
  border: none;
  border-radius: 8px;
  padding: 15px;
  width: 152px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#hero .hero-btn-container .btn:hover {
  background: var(--light-peach);
  color: var(--white);
}

#hero .hero-phone-container img {
  display: none;
}

/* 




View Projects




*/

#view-projects {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  grid-gap: 21px;
}

#view-projects .project-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#view-projects .project-box:hover {
  opacity: 0.9;
}

#view-projects .project-box h2 {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--white);
}

#view-projects .project-box a {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--white);
}

#view-projects .web-design {
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url(./img/image-web-design-large.jpg) no-repeat center center/cover;
  height: 638px;
  width: 100%;
  grid-row: 1 / 3;
}
#view-projects .app-design {
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url(./img/image-app-design.jpg) no-repeat center center/cover;
  height: 308px;
  width: 100%;
  grid-column: 2 / 4;
}
#view-projects .graphic-design {
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url(./img/image-graphic-design.jpg) no-repeat center center/cover;
  height: 308px;
  width: 100%;
  grid-column: 2 / 4;
}

/* 




PRF




*/

#prf {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 6rem;
  background-image: url(./img/bg-pattern-leaf.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 33vw 15vh;
}

#prf .prf-box h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
#prf .prf-box p {
  color: var(--dark-grey);
  width: 85%;
  margin: 0 auto;
}

#prf .passionate {
  background-image: url(./img/bg-pattern-small-circle.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 9vw 0vh;
}

#prf .resourceful {
  background-image: url(./img/bg-pattern-small-circle.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 8vw 0vh;
}

#prf .friendly {
  background-image: url(./img/bg-pattern-small-circle.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 9vw 0vh;
}

/* 




Lets Talk




*/

.cta-footer-container {
  position: relative;
}

#lets-talk {
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--peach);
  background-image: url(./img/bg-pattern-call-to-action.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 29vw -20vh;
  border-radius: 10px;
  width: 90%;
  height: 300px;
  position: relative;
  z-index: 1;
}
#lets-talk .lets-talk-text {
  padding-left: 7rem;
  color: var(--white);
}

#lets-talk .lets-talk-text h2 {
  font-size: 40px;
  font-weight: 500;
  width: 40%;
  line-height: 1.2;
}

#lets-talk .lets-talk-text p {
  font-weight: 400;
  width: 63%;
  padding-top: 1rem;
}

#lets-talk .lets-talk-btn-container {
  padding-right: 7rem;
}

#lets-talk .btn {
  font-weight: 500;
  color: var(--dark-grey);
  background: var(--white);
  border: none;
  border-radius: 8px;
  padding: 15px;
  width: 152px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#lets-talk .btn:hover {
  background: var(--light-peach);
  color: var(--white);
}

/* 




Footer




*/

footer {
  background: var(--black);
  margin-top: -5rem;
  z-index: -1;
}
footer .top-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem 4rem 4rem 4rem;
}
footer .top-footer .footer-logo img {
  width: 200px;
}

footer .top-footer .footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .top-footer .footer-nav li a {
  padding: 0 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--white);
}

footer .footer-line {
  border-bottom: 1px solid #fff;
  width: 90%;
  margin: 0 auto;
}

footer .bottom-footer {
  padding: 3rem 4rem 4rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .bottom-footer .address {
  color: var(--light-grey);
}

footer .bottom-footer .contact {
  color: var(--light-grey);
}
footer .bottom-footer .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .bottom-footer .social-icons li a {
  padding: 0rem 0.7rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
footer .bottom-footer .social-icons li a:hover {
  opacity: 0.9;
}

/* 






WEB DESIGN PAGE







*/

#web-design-banner {
  margin-top: 5rem;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background-color: var(--peach);
  background-image: url(./img/bg-pattern-intro-web.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 29vw -28vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#web-design-banner .web-design-banner-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#web-design-banner .web-design-banner-text h1 {
  font-size: 48px;
  font-weight: 500;
  color: var(--white);
  padding-bottom: 1rem;
}
#web-design-banner .web-design-banner-text p {
  color: var(--white);
  width: 60%;
  text-align: center;
}

#web-design-projects {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

#web-design-projects .project-container {
  margin-top: 2rem;
}

#web-design-projects .project-container img {
  width: 350px;
  height: auto;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: -1rem;
}

#web-design-projects .project-container .web-design-projects-text-content {
  background: #fdf3f0;
  border-radius: 0px 0px 10px 10px;
  width: 350px;
  height: 100%;
}

#web-design-projects .project-container .web-design-projects-text-content h3 {
  color: var(--peach);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1.5rem;
}

#web-design-projects .project-container .web-design-projects-text-content p {
  color: var(--dark-grey);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 70%;
  margin: 0 auto;
}

#service-links {
  margin-top: 7rem;
  margin-bottom: 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#service-links .service-box {
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#service-links .service-box h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
}

#service-links .service-box a {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
}

#service-links .app-design-service {
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url(./img/image-app-design.jpg) no-repeat center center/cover;
  height: 308px;
  width: 100%;
  border-radius: 10px;
}

#service-links .graphic-design-service {
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url(./img/image-graphic-design.jpg) no-repeat center center/cover;
  height: 308px;
  width: 100%;
  border-radius: 10px;
}

#service-links .web-design-service {
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url(./img/image-web-design-large.jpg) no-repeat center center/cover;
  height: 308px;
  width: 100%;
  border-radius: 10px;
}

/* 




About Us Page




*/

#about-us-banner {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#about-us-banner .about-banner-text {
  color: #fff;
  background: var(--peach);
  height: 480px;
  padding-top: 5rem;
  padding-left: 5rem;
  background-image: url(./img/bg-pattern-hero-about-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 29vw -28vh;
}

#about-us-banner .about-banner-text h1 {
  font-size: 48px;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

#about-us-banner .about-banner-text p {
  line-height: 26px;
  width: 83%;
}

#about-us-banner .about-banner-img img {
  height: 480px;
  overflow: hidden;
  margin-top: 0.5rem;
  width: 600px;
}

#world-class-talent {
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 640px;
}
#world-class-talent .world-class-img img {
  height: 640px;
  margin-top: 0.5rem;
  overflow: hidden;
  border-radius: 10px 0px 0px 10px;
}

#world-class-talent .world-class-text {
  background-color: #fdf3f0;
  height: 640px;
  padding-top: 10rem;
  padding-left: 5rem;
  border-radius: 0px 10px 10px 0px;
  background-image: url(./img/bg-pattern-two-circles.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -10vw 50vh;
}
#world-class-talent .world-class-text h2 {
  color: var(--peach);
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

#world-class-talent .world-class-text p {
  padding-bottom: 1.5rem;
  width: 90%;
}

#locations {
  width: 90%;
  margin-top: 7rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 3rem;
}
#locations .location {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.can {
  background-image: url(./img/bg-pattern-small-circle.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 8vw 1vh;
}

.aus {
  background-image: url(./img/bg-pattern-small-circle.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 8vw 1vh;
}

.uk {
  background-image: url(./img/bg-pattern-small-circle.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 8vw 1vh;
}

#locations .location h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#locations .location button {
  padding: 15px;
  background: var(--peach);
  color: #fff;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  width: 152px;
}

#locations .location button:hover {
  background: var(--light-peach);
}

/* 



Real Deal


*/

#real-deal {
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 640px;
}
#real-deal .real-deal-img img {
  height: 640px;
  margin-top: 0.5rem;
  overflow: hidden;
  border-radius: 0px 10px 10px 0px;
}

#real-deal .real-deal-text {
  background-color: #fdf3f0;
  height: 640px;
  padding-top: 10rem;
  padding-left: 5rem;
  border-radius: 10px 0px 0px 10px;
  background-image: url(./img/bg-pattern-two-circles.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -10vw 50vh;
}
#real-deal .real-deal-text h2 {
  color: var(--peach);
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 1.5rem;
}

#real-deal .real-deal-text p {
  padding-bottom: 1.5rem;
  width: 80%;
}

/* 



LOCATIONS PAGE


*/

#locals {
  margin-top: 5rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#locals .locals-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#locals .locals-box .locals-text {
  background: #fdf3f0;
  width: 800px;
  height: 326px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 7rem;
  border-radius: 10px;
}

#locals .locals-box .locals-text h2 {
  font-size: 40px;
  font-weight: 500;
  color: var(--peach);
  padding-bottom: 1rem;
}

#locals .locals-box .contact-container {
  display: flex;
}

.locals-contact-one {
  padding-right: 6rem;
}

.austrailia {
  margin: 2rem 0;
}

.austrailia .locals-img {
  order: -1;
}

.locals-img {
  margin-top: 1rem;
  overflow: hidden;
  border-radius: 10px;
}

.locals-img img {
  overflow: hidden;
  border-radius: 10px;
}

/* 




CONTACT PAGE




*/

#contact-banner {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  background-color: var(--peach);
  border-radius: 15px;
  height: 480px;
  background-image: url(img/bg-pattern-hero-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 2vw -23vh;
}

#contact-banner .contact-text {
  padding-top: 5em;
  padding-left: 8rem;
}

#contact-banner .contact-text h1 {
  color: var(--white);
  font-size: 48px;
  font-weight: 500;
  padding-bottom: 2rem;
}
#contact-banner .contact-text p {
  color: var(--white);
  width: 65%;
}

#contact-banner form {
  padding-top: 0.5rem;
  padding-right: 8rem;
  width: 70%;
}

#contact-banner form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding-top: 3rem;
  width: 100%;
  color: white;
}

#contact-banner form input::placeholder {
  color: white;
}

#contact-banner textarea::placeholder {
  color: white;
}

form textarea {
  color: white;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  resize: none;
  margin-top: 2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 80px;
  width: 100%;
}

form textarea:focus,
input:focus {
  outline: none;
  background: transparent;
}

.form-btn-container {
  margin-top: 2rem;
  text-align: right;
}

.form-btn-container .form-btn {
  padding: 12px;
  width: 152px;
  border: none;
  background: white;
  border-radius: 10px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.form-btn-container .form-btn:hover {
  cursor: pointer;
  background: var(--light-peach);
  color: white;
}

.email-input-container {
  position: relative;
}

.email-input-container img {
  padding-top: 1px;
}

small {
  color: white;
  font-style: italic;
}

.email-error-msg {
  position: absolute;
  top: 60%;
  right: 0%;
  visibility: hidden;
}

.email-error-msg img {
  padding-left: 5px;
}

/* 


Media Queries

*/

/* 



Widescreen



*/

@media screen and (min-width: 1650px) {
  #prf .passionate {
    background-image: none;
  }

  #prf .resourceful {
    background-image: none;
  }

  #prf .friendly {
    background-image: none;
  }

  .can {
    background-image: none;
  }

  .aus {
    background-image: none;
  }

  .uk {
    background-image: none;
  }
}

/* 


TABLET


*/

@media screen and (max-width: 1250px) {
  #hero {
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./img/bg-pattern-hero-home.svg),
      url(./img/image-hero-phone.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 32vw 9vh, 50% -500%;
    height: 850px;
    width: 90%;
  }

  #hero .hero-text-content {
    padding-top: 3rem;
    padding-left: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  #hero .hero-btn-container {
    padding-top: 1rem;
    padding-left: 0rem;
    text-align: center;
  }

  #hero .hero-btn-container .btn {
    width: 152px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  /* 




PRF




*/

  #prf {
    flex-direction: column;
    background-image: none;
  }

  #prf .prf-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
  }

  #prf .prf-box h3 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  #prf .prf-box p {
    width: 55%;
    text-align: left;
  }

  #prf .passionate {
    background-position: 2vw 0vh;
  }

  #prf .resourceful {
    background-position: 0vw 4vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #prf .friendly {
    background-position: 0vw 0vh;
  }

  /* 
  
  
  
  View Projects
  
  
  */

  #view-projects {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #view-projects .web-design {
    height: 308px;
  }

  /* 




Lets Talk




*/
  #lets-talk {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-image: url(./img/bg-pattern-call-to-action.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -3vw -20vh;
  }
  #lets-talk .lets-talk-text {
    padding-left: 0rem;
    color: var(--white);
    text-align: center;
  }

  #lets-talk .lets-talk-text h2 {
    font-size: 40px;
    font-weight: 500;
    width: 40%;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    padding-top: 3.5rem;
  }

  #lets-talk .lets-talk-text p {
    font-weight: 400;
    width: 63%;
    padding-top: 2rem;
    margin: 0 auto;
  }

  #lets-talk .lets-talk-btn-container {
    padding-right: 0rem;
    padding-top: 2rem;
    padding-bottom: 4.5rem;
  }
  /* 






WEB DESIGN PAGE







*/

  #web-design-banner {
    background-position: 11vw -28vh;
  }

  #web-design-projects {
    margin-top: 7rem;
    margin-bottom: 0rem;
    grid-template-columns: 1fr;
  }

  #web-design-projects .project-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #web-design-projects .project-container .web-design-projects-text-content {
    width: 350px;
    height: 300px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -0.5rem;
  }

  #web-design-projects .project-container img {
    width: 350px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
    margin-bottom: 0rem;
  }

  #service-links {
    margin-top: 7rem;
    margin-bottom: 0rem;
    flex-direction: column;
  }

  #service-links .service-box {
    margin: 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  /* 




About Us Page




*/

  #about-us-banner {
    margin-top: 5rem;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #about-us-banner .about-banner-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    width: 100%;
    margin-top: -1rem;
    padding-top: 0rem;
    padding-left: 0rem;
    background-position: -3vw -50vh;
    order: 1;
    border-radius: 0px 0px 10px 10px;
  }

  #about-us-banner .about-banner-text p {
    line-height: 26px;
    width: 70%;
    text-align: center;
  }

  #about-us-banner .about-banner-img {
    width: 100%;
    text-align: center;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    background: url(./img/image-about-hero.jpg) no-repeat center center/cover;
    border-radius: 10px 10px 0px 0px;
    height: 600px;
  }

  #about-us-banner .about-banner-img img {
    margin-top: 0.5rem;
    display: none;
  }

  #world-class-talent {
    flex-direction: column;
    height: 100%;
    width: 90%;
  }

  #world-class-talent .world-class-img {
    width: 100%;
    height: 500px;
    background: url(./img/tablet-image-world-class-talent.jpg) no-repeat center
      center/cover;
    border-radius: 10px 10px 0px 0px;
  }

  #world-class-talent .world-class-img img {
    display: none;
    height: 320px;
  }

  #world-class-talent .world-class-text {
    background-color: #fdf3f0;
    height: 600px;
    padding-top: 0rem;
    padding-left: 0rem;
    border-radius: 0px 0px 10px 10px;
    background-image: url(./img/bg-pattern-two-circles.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -10vw 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  #world-class-talent .world-class-text h2 {
    color: var(--peach);
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

  #world-class-talent .world-class-text p {
    padding-bottom: 3.5rem;
    width: 90%;
  }

  #locations {
    width: 90%;
    margin-top: 7rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  #locations .location h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top: 0rem;
    padding-bottom: 1.5rem;
  }

  #locations .location {
    padding-top: 2rem;
  }

  .can {
    background-image: none;
  }

  .aus {
    background-image: none;
  }

  .uk {
    background-image: none;
  }

  #real-deal {
    flex-direction: column;
    height: 100%;
    width: 90%;
  }

  #real-deal .real-deal-img {
    width: 100%;
    height: 450px;
    background: url(img/image-real-deal.jpg) no-repeat center center/cover;
    border-radius: 10px 10px 0px 0px;
    order: -1;
  }

  #real-deal .real-deal-img img {
    display: none;
    height: 320px;
  }

  #real-deal .real-deal-text {
    background-color: #fdf3f0;
    height: 450px;
    padding-top: 0rem;
    padding-left: 0rem;
    border-radius: 0px 0px 10px 10px;
    background-image: url(./img/bg-pattern-two-circles.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -10vw 50vh;
    text-align: center;
  }
  #real-deal .real-deal-text h2 {
    color: var(--peach);
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 1.5rem;
    padding-top: 3.5rem;
  }

  #real-deal .real-deal-text p {
    padding-bottom: 3.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  /* 



LOCATIONS PAGE


*/

  #locals .locals-box {
    flex-direction: column;
  }

  .locals-contact-one {
    padding-right: 6rem;
  }

  .austrailia {
    margin: 2rem 0;
  }

  .austrailia .locals-img {
    order: -1;
    width: 100%;
  }
  .canada .locals-img {
    order: -1;
  }
  .united-kingdom .locals-img {
    order: -1;
  }

  .locals-img {
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 10px;
    background: url(img/image-map-canada.png) no-repeat center center/cover;
    width: 100%;
    height: 350px;
  }

  #cana {
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 10px;
    background: url(img/tablet-image-map-canada.png) no-repeat center
      center/cover;
    width: 100%;
    height: 450px;
  }

  #aussie {
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 10px;
    background: url(img/tablet-image-map-australia.png) no-repeat center
      center/cover;
    width: 100%;
    height: 450px;
  }

  #uk {
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 10px;
    background: url(img/tablet-image-map-uk.png) no-repeat center center/cover;
    width: 100%;
    height: 450px;
  }

  .locals-img img {
    display: none;
  }

  #locals .locals-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  #locals .locals-box .locals-text {
    background: #fdf3f0;
    width: 100%;
    height: 326px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 7rem;
    border-radius: 10px;
    margin-top: 2rem;
  }
}

/* 




Smartphone




*/

@media screen and (max-width: 968px) {
  /* 
  
  
  Header/Nav Menu
  
  */

  .menu-btn {
    display: block;
  }

  header {
    padding-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header ul {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--black);
    width: 80%;
    height: 100%;
    transform: translateX(-1000px);
    padding: 30px;
    transition: transform 0.7s ease-in-out;
  }

  header ul.show {
    transform: translateX(-20px);
  }
  header ul li {
    padding: 30px 0px;
    border-bottom: 1px solid var(--light-grey);
  }
  header ul li a {
    color: white;
    font-size: 18px;
  }

  /* 
  
  
  Hero
  
  
  */

  #hero {
    margin-top: 1.5rem;
    background-image: url(./img/bg-pattern-hero-home.svg),
      url(./img/image-hero-phone.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 32vw 9vh, 50% -425%;
    height: 845px;
    width: 100%;
    border-radius: 0px;
  }

  #hero .hero-text-content {
    padding-top: 4.5rem;
    padding-left: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  #hero .hero-text-content h1 {
    font-size: 32px;
    width: 100%;
    padding: 0 5px;
  }

  #hero .hero-text-content p {
    width: 96%;
    padding-top: 1.5rem;
  }

  #hero .hero-btn-container {
    padding-top: 1.7rem;
    padding-left: 0rem;
    text-align: center;
  }

  #hero .hero-btn-container .btn {
    width: 152px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  /* 
  
  
  
  View Projects
  
  
  */

  #view-projects {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #view-projects .project-box h2 {
    font-size: 28px;
  }

  #view-projects .web-design {
    height: 308px;
  }

  /* 




PRF




*/

  #prf {
    flex-direction: column;
    margin-top: 7rem;
    background-image: none;
  }

  #prf .prf-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    flex-direction: column;
  }

  #prf .prf-box h3 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    margin: 0 auto;
  }

  #prf .prf-box p {
    width: 90%;
    text-align: center;
  }

  #prf .passionate {
    background-image: none;
    padding-bottom: 3rem;
  }

  #prf .resourceful {
    background-image: none;
    padding-bottom: 3rem;
  }

  #prf .friendly {
    background-image: none;
  }

  /* 




Lets Talk




*/
  #lets-talk {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-image: url(./img/bg-pattern-call-to-action.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -3vw -20vh;
  }
  #lets-talk .lets-talk-text {
    padding-left: 0rem;
    color: var(--white);
    text-align: center;
  }

  #lets-talk .lets-talk-text h2 {
    font-size: 40px;
    font-weight: 500;
    width: 90%;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    padding-top: 3.5rem;
  }

  #lets-talk .lets-talk-text p {
    font-weight: 400;
    width: 75%;
    padding-top: 2rem;
    margin: 0 auto;
  }

  #lets-talk .lets-talk-btn-container {
    padding-right: 0rem;
    padding-top: 2rem;
    padding-bottom: 4.5rem;
  }

  /* 


  
  
  
  Footer



  
  
  */

  footer .top-footer {
    flex-direction: column;
    padding: 10rem 4rem 2rem 4rem;
  }

  footer .top-footer .footer-nav {
    flex-direction: column;
  }

  footer .top-footer .footer-nav li {
    padding: 1rem;
  }

  footer .bottom-footer {
    flex-direction: column;
  }

  footer .bottom-footer .address {
    padding-bottom: 2rem;
  }

  footer .bottom-footer .contact {
    padding-bottom: 3rem;
  }
  footer .bottom-footer .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .bottom-footer .social-icons li a {
    padding: 0rem 0.7rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  footer .bottom-footer .social-icons li a:hover {
    opacity: 0.9;
  }

  /* 






WEB DESIGN PAGE







*/

  #web-design-banner {
    background-position: -52vw -44vh;
    width: 100%;
  }

  #web-design-banner .web-design-banner-text h1 {
    font-size: 32px;
  }

  #web-design-banner .web-design-banner-text p {
    width: 80%;
  }

  #web-design-projects {
    margin-top: 5rem;
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #web-design-projects .project-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #web-design-projects .project-container img {
    width: 350px;
    height: auto;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -1rem;
  }

  #web-design-projects .project-container .web-design-projects-text-content {
    background: #fdf3f0;
    border-radius: 0px 0px 10px 10px;
    width: 350px;
    height: 100%;
  }

  #service-links {
    margin-top: 7rem;
    margin-bottom: 0rem;
    flex-direction: column;
  }

  #service-links .service-box {
    margin: 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #service-links .service-box h2 {
    font-size: 28px;
  }

  /* 
  
  
  
  
  About Page
  
  
  
  */

  #about-us-banner {
    margin-top: 5rem;
    flex-direction: column;
    width: 100%;
  }

  #about-us-banner .about-banner-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    width: 100%;
    margin-top: -1rem;
    padding-top: 7rem;
    padding-bottom: 8rem;
    background-position: -3vw -50vh;
    order: 1;
    border-radius: 0px;
  }

  #about-us-banner .about-banner-text h1 {
    font-size: 32px;
  }

  #about-us-banner .about-banner-text p {
    line-height: 26px;
    width: 80%;
    text-align: center;
  }

  #about-us-banner .about-banner-img {
    width: 100%;
    text-align: center;
    overflow: hidden;
    border-radius: 0px;
  }

  #about-us-banner .about-banner-img img {
    height: 320px;
    width: 100%;
    overflow: hidden;
    margin-top: 0.5rem;

    overflow: hidden;
    border-radius: 0px;
  }

  #world-class-talent {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  #world-class-talent .world-class-img {
    width: 100%;
    height: 500px;
    background: url(./img/tablet-image-world-class-talent.jpg) no-repeat center
      center/cover;
    border-radius: 0px;
  }

  #world-class-talent .world-class-img img {
    display: none;
    height: 320px;
  }

  #world-class-talent .world-class-text {
    background-color: #fdf3f0;
    height: 100%;
    padding-top: 0rem;
    padding-left: 0rem;
    border-radius: 0px;
    background-image: url(./img/bg-pattern-two-circles.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -10vw 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  #world-class-talent .world-class-text h2 {
    color: var(--peach);
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 1.5rem;
    padding-top: 3rem;
  }

  #world-class-talent .world-class-text p {
    padding-bottom: 3.5rem;
    width: 90%;
  }

  #locations {
    width: 90%;
    margin-top: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #locations .location h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top: 0rem;
    padding-bottom: 1.5rem;
  }

  #locations .location {
    padding-top: 2rem;
  }

  .can {
    background-image: none;
  }

  .aus {
    background-image: none;
  }

  .uk {
    background-image: none;
  }

  #real-deal {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  #real-deal .real-deal-img {
    width: 100%;
    height: 450px;
    background: url(img/image-real-deal.jpg) no-repeat center center/cover;
    border-radius: 0px;
    order: -1;
  }

  #real-deal .real-deal-img img {
    display: none;
    height: 320px;
  }

  #real-deal .real-deal-text {
    background-color: #fdf3f0;
    height: 100%;
    padding-top: 0rem;
    padding-left: 0rem;
    border-radius: 0px;
    background-image: url(./img/bg-pattern-two-circles.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -10vw 50vh;
    text-align: center;
  }
  #real-deal .real-deal-text h2 {
    color: var(--peach);
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 1.5rem;
    padding-top: 3.5rem;
  }

  #real-deal .real-deal-text p {
    padding-bottom: 3.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  /* 



LOCATIONS PAGE


*/

  #locals {
    width: 100%;
  }

  #locals .locals-box {
    flex-direction: column;
  }

  .locals-contact-one {
    padding-right: 6rem;
  }

  .austrailia {
    margin: 2rem 0;
  }

  .austrailia .locals-img {
    order: -1;
    width: 100%;
    border-radius: 0px;
  }
  .canada .locals-img {
    order: -1;
  }
  .united-kingdom .locals-img {
    order: -1;
  }

  .locals-img {
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 0px;
    background: url(img/image-map-canada.png) no-repeat center center/cover;
    width: 100%;
    height: 350px;
  }

  #cana {
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 0px;
    background: url(img/tablet-image-map-canada.png) no-repeat center
      center/cover;
    width: 100%;
    height: 450px;
  }

  #aussie {
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 0px;
    background: url(img/tablet-image-map-australia.png) no-repeat center
      center/cover;
    width: 100%;
    height: 450px;
  }

  #uk {
    margin-top: 1rem;
    overflow: hidden;
    border-radius: 0px;
    background: url(img/tablet-image-map-uk.png) no-repeat center center/cover;
    width: 100%;
    height: 450px;
  }

  .locals-img img {
    display: none;
  }

  #locals .locals-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #locals .locals-box .contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #locals .locals-box .locals-text {
    background: #fdf3f0;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0rem;
    border-radius: 0px;
    margin-top: 2rem;
  }

  .locals-contact-one {
    padding-right: 0rem;
    padding-bottom: 2rem;
  }

  #locals .locals-box .locals-text h2 {
    font-size: 32px;
  }

  /* 




CONTACT PAGE




*/

  #contact-banner {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--peach);
    border-radius: 0px;
    height: 800px;
    background-image: url(img/bg-pattern-hero-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 2vw -23vh;
  }

  #contact-banner .contact-text {
    padding-top: 3em;
    padding-left: 0rem;
    text-align: center;
  }

  #contact-banner .contact-text h1 {
    color: var(--white);
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 2rem;
  }
  #contact-banner .contact-text p {
    color: var(--white);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #contact-banner form {
    text-align: center;
    padding-top: 0.5rem;
    padding-left: 7rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #contact-banner form input {
    background: transparent;
    border-color: #e7816b;
    border-bottom: 1px solid #fff;
    padding-top: 3rem;
    width: 100%;
    border-radius: 0px;
  }

  .form-btn-container {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .form-btn-container .form-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .email-error-msg {
    position: static;
    padding-top: 0.5rem;
  }
}
